fastapi
uvicorn
pymongo
langchain
langchain-core
langchain-community
google-generativeai
requests
tweepy
GitPython
beautifulsoup4
lxml
python-multipart
python-frontmatter
fastapi-users[beanie,jwt]
passlib[bcrypt]
python-jose
email-validator
httpx
pytest
pytest-asyncio
pytest-mock
python-dotenv
langchain-community
langchain_google_genai
faiss-cpu==1.8.0
langchain-experimental
